

<div class="center">
  <mat-form-field>
    <mat-label>Search</mat-label>
    <input matInput name="search" type="text" [(ngModel)]="searchText" placeholder="Digimon Search">
  </mat-form-field>

  <button mat-button (click)="filterByName(searchText)"> Search </button>
  <button mat-button (click)="filterByName('')"> Reset Search</button>
</div>



<mat-grid-list cols="3" rowHeight="400px">
  <mat-grid-tile
      *ngFor="let digimon of digimons"
      [colspan]="'1'"
      [rowspan]="'1'"
      [style.background]="'white'">
      <div [ngClass]="{'selected': digimon.selected}">
        <img src={{digimon.img}} alt={{digimon.name}} (click)="selectedDigimon(digimon)">
        {{ digimon.name }}
      </div>
  </mat-grid-tile>
</mat-grid-list>